.header{
    --background: #3b94d9;
}
.IonTitle{
    color: #fff; 
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold; 
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}
.IonTitle .IonIcon{
    font-size: 25px;
}