.text-center {
    text-align: center;
  }
  .title {
    font-size: 32px;
    font-weight: bold;
  }
  .title-img {
    width: 50%;
    margin: auto;
  }
  .login-button {
    margin-top: 50px;
  }

  .header{
    --background: #3b94d9;
}
.IonTitle{
    color: #fff; 
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold; 
    letter-spacing: -1px;
    line-height: 1;
    text-align: center;
}
.IonTitle .IonIcon{
    font-size: 25px;
}

.IonIconFacebook{
  font-size: 100px;
}
